/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1000px; font-size: 12px; font-family: Tahoma, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; line-height: 1.4; background: url(../img/bg.png); }

.out { position: relative; height: 100%; min-height: 100%; height: auto; overflow: hidden; margin-bottom: -173px; }

.push { height: 173px; }

.divide { height: 5px; background: #d17e08; }

.container { width: 1000px; margin: 0 auto; }

.h2, .h3 { font-size: 20px; font-weight: bold; color: #d17e08; }

.h2_dark { color: #323232; }

.h3 { font-size: 16px; margin-bottom: 30px; }

.h3_light { color: #e78a06; }

.wrapper_white { background: white; }

.btn { height: 32px; padding: 0 18px; border: 1px solid #d47d04; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #e78a09; color: white; font-weight: bold; font-size: 12px; text-shadow: 0 1px 0 #c96203; }

.cancel { display: inline-block; background: transparent; margin: 0 25px; }

.header { height: 60px; background: #515151; margin-bottom: 55px; }

.header__inner { *zoom: 1; }
.header__inner:after { content: " "; display: table; clear: both; }

.logo { float: left; margin-top: 9px; }
.logo a { display: block; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s40c8448531.png') 0 -23px no-repeat; width: 152px; height: 40px; }

.profile { float: right; }
.profile a { position: relative; display: inline-block; padding-right: 23px; margin-top: 20px; font-size: 14px; color: #eeeeee; text-decoration: none; }
.profile a:before { content: ""; position: absolute; top: 6px; right: 7px; background: url('../img/icons-s40c8448531.png') 0 -887px no-repeat; width: 9px; height: 8px; }

.profile_hidden { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.menu { overflow: hidden; text-align: center; }
.menu ul { display: inline-block; margin-top: 16px; }
.menu ul li { display: inline-block; margin-left: 45px; }
.menu ul li:first-child { margin-left: 0; }
.menu ul li a { position: relative; font-size: 18px; color: #eeeeee; font-weight: bold; text-decoration: none; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; transition: color 0.2s linear; }
.menu ul li a:hover { color: #d17e08; }
.menu ul li a.is-active { color: #e78a06; }
.menu ul li a .notif { position: absolute; top: -7px; left: 100%; }

.notif { height: 18px; line-height: 17px; text-align: center; padding: 0 8px; -webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px; background: #e78700; font-weight: bold; color: white; font-size: 12px; text-shadow: 0 1px 0 #c96203; }

.footer { position: relative; height: 173px; text-align: center; }
.footer span { font-size: 14px; color: white; font-weight: bold; line-height: 168px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

.fl { float: left; }

.fr { float: right; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.input, .textarea { padding: 0 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: white; font-size: 17px; font-family: Tahoma, Arial, sans-serif; border: 1px solid #cacaca; -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15); box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15); }

.textarea { padding: 10px; resize: none; }

.help { position: absolute; top: 300px; right: -461px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); -webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -o-transition: all 200ms linear; transition: all 200ms linear; z-index: 99; }
.help.is-open { right: 0; }
.help.is-open .help__btn { -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); }
.help.is-open .help__btn:before { background: url('../img/icons-s40c8448531.png') 0 -125px no-repeat; width: 25px; height: 13px; }

.help__btn { position: absolute; top: 142px; left: -40px; height: 40px; padding-left: 55px; line-height: 40px; width: 87px; background: #d17d07; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; font-size: 16px; text-decoration: none; font-weight: bold; color: white; -webkit-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%; -o-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; transform-origin: 0% 0%; -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616999114022e-16, M12=1, M21=-1, M22=3.061616999114022e-16, SizingMethod='auto expand')"; cursor: pointer; }
.help__btn:before { content: ""; position: absolute; top: 13px; left: 10px; background: url('../img/icons-s40c8448531.png') 0 -148px no-repeat; width: 25px; height: 13px; }
.help__btn:after { content: ""; position: absolute; top: 0px; bottom: 0px; left: 43px; width: 1px; background: #ab6606; }
.help__btn:hover { right: -40px; }

.lteie8 .help__btn { top: 0; }

.help__content { position: relative; -webkit-border-radius: 0 0 0 2px; -moz-border-radius: 0 0 0 2px; -ms-border-radius: 0 0 0 2px; -o-border-radius: 0 0 0 2px; border-radius: 0 0 0 2px; background: #eeeeee; padding: 25px 22px; width: 414px; height: 267px; }

.help__title { font-size: 14px; color: #404040; margin-bottom: 28px; }

.help__row { *zoom: 1; margin-bottom: 8px; color: #404040; }
.help__row:after { content: " "; display: table; clear: both; }

.help__left { float: left; width: 87px; padding-top: 7px; }

.help__right { float: right; width: 327px; }
.help__right .select { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #cacaca; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.help__right .select span { font-size: 12px; color: #a4a4a4; text-shadow: none; font-weight: normal; }
.help__right .select span:after { background: url('../img/icons-s40c8448531.png') 0 -923px no-repeat; width: 9px; height: 8px; }
.help__right .select .select__list { border: 1px solid #cacaca; }
.help__right .input { width: 100%; height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 13px; }
.help__right .textarea { height: 80px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 13px; }

.help__bot { *zoom: 1; padding-top: 18px; }
.help__bot:after { content: " "; display: table; clear: both; }

.help__chat { float: left; position: relative; height: 30px; line-height: 30px; padding: 0 20px 0 42px; color: white; text-decoration: none; font-weight: bold; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; text-shadow: 1px 0 1px #3f8515; background: #46b329; }
.help__chat:before { content: ""; position: absolute; top: 6px; left: 10px; background: url('../img/icons-s40c8448531.png') 0 -529px no-repeat; width: 20px; height: 19px; }

.help__submit { float: right; height: 30px; line-height: 30px; padding: 0 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #e78a09; text-shadow: 1px 0 1px #be5d03; color: white; font-weight: bold; }

.pagination { *zoom: 1; margin-bottom: 66px; }
.pagination:after { content: " "; display: table; clear: both; }
.pagination .select { float: right; width: 47px; height: 28px; margin-left: 22px; }
.pagination .select span { padding-left: 9px; }
.pagination .select span:after { right: 8px; }

.pagination__nav { float: right; margin-left: 70px; }
.pagination__nav a { position: relative; display: inline-block; width: 47px; height: 28px; margin-left: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #515151; }
.pagination__nav a:first-child { margin-left: 0; }
.pagination__nav a.pagination__prev:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -4px; background: url('../img/icons-s40c8448531.png') 0 -637px no-repeat; width: 8px; height: 16px; }
.pagination__nav a.pagination__prev.is-disabled { background: #3d3d3d; }
.pagination__nav a.pagination__prev.is-disabled:before { background: url('../img/icons-s40c8448531.png') 0 -477px no-repeat; width: 8px; height: 16px; }
.pagination__nav a.pagination__next:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -4px; background: url('../img/icons-s40c8448531.png') 0 -783px no-repeat; width: 8px; height: 16px; }
.pagination__nav a.pagination__next.is-disabled { background: #3d3d3d; }
.pagination__nav a.pagination__next.is-disabled:before { background: url('../img/icons-s40c8448531.png') 0 -503px no-repeat; width: 8px; height: 16px; }

.pagination__pager { float: right; height: 28px; line-height: 28px; font-size: 12px; color: #eeeeee; }

.popup { position: absolute; top: 213px; left: 50%; margin-left: -344px; width: 688px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #f4f4f4; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); }

.popup__content { border: 1px solid #c7c7c7; border-top: none; padding: 24px 11px 11px; -webkit-border-radius: 3px 3px; -moz-border-radius: 3px 3px; -ms-border-radius: 3px 3px; -o-border-radius: 3px 3px; border-radius: 3px 3px; }

.popup__topper { *zoom: 1; padding-left: 10px; }
.popup__topper:after { content: " "; display: table; clear: both; }

.popup__title { float: left; color: #505050; font-size: 16px; font-weight: bold; }

.popup__btns { float: right; }

a.back_text { width: auto; padding: 0 14px; font-size: 12px; color: white; font-weight: bold; line-height: 30px; text-shadow: 0px 1px 1px #909090; text-decoration: none; }
a.back_text:before { display: none; }

.popup__expand { padding-left: 10px; }

.add-user__name { position: relative; display: inline-block; vertical-align: middle; margin-right: 100px; padding: 0 18px 0 25px; color: #505050; font-size: 14px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.add-user__name:before { content: ""; position: absolute; top: 2px; left: 1px; background: url('../img/icons-s40c8448531.png') 0 -663px no-repeat; width: 14px; height: 14px; }
.add-user__name:after { content: ""; position: absolute; top: 6px; right: 0px; background: url('../img/icons-s40c8448531.png') 0 -869px no-repeat; width: 8px; height: 8px; }
.add-user__name.is-open:after { background: url('../img/icons-s40c8448531.png') 0 -905px no-repeat; width: 8px; height: 8px; }

.add-user__time { position: relative; display: inline-block; vertical-align: middle; padding-left: 20px; color: #505050; font-size: 14px; }
.add-user__time:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-s40c8448531.png') 0 -171px no-repeat; width: 14px; height: 15px; }

.add-user__tools { margin-top: 15px; margin-left: -10px; padding: 15px 15px 0; border-top: 1px solid #c8c8c8; }
.add-user__tools ul { *zoom: 1; margin-top: 20px; }
.add-user__tools ul:after { content: " "; display: table; clear: both; }
.add-user__tools ul:first-child { margin-top: 0; }
.add-user__tools li { float: left; margin-right: 30px; position: relative; color: #505050; font-size: 13px; }
.add-user__tools li.add-user__money { padding-left: 15px; }
.add-user__tools li.add-user__money:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-s40c8448531.png') 0 -196px no-repeat; width: 10px; height: 19px; }
.add-user__tools li.add-user__people { padding-left: 23px; }
.add-user__tools li.add-user__people:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-s40c8448531.png') 0 -252px no-repeat; width: 16px; height: 15px; }
.add-user__tools li.add-user__visa { padding-left: 27px; }
.add-user__tools li.add-user__visa:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-s40c8448531.png') 0 -277px no-repeat; width: 21px; height: 13px; }
.add-user__tools li.add-user__email { padding-left: 25px; }
.add-user__tools li.add-user__email:before { content: ""; position: absolute; top: 4px; left: 0px; background: url('../img/icons-s40c8448531.png') 0 -377px no-repeat; width: 16px; height: 11px; }
.add-user__tools li.add-user__mobile { padding-left: 18px; }
.add-user__tools li.add-user__mobile:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-s40c8448531.png') 0 -558px no-repeat; width: 9px; height: 19px; }

.chat-window-wrap { height: 228px; padding: 16px; margin-top: 15px; margin-bottom: 16px; border: 1px solid #c7c7c7; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white; overflow: auto; }

.chat-window__item { color: #202020; font-size: 13px; margin-top: 15px; }
.chat-window__item:first-child { margin-top: 0; }
.chat-window__item.admin .chat-window__usermane { color: #e78a06; }

.chat-window__topper { *zoom: 1; }
.chat-window__topper:after { content: " "; display: table; clear: both; }

.chat-window__usermane { float: left; }

.chat-window__time { float: right; }

.chat-window__usermane { color: #717171; font-weight: bold; }

.chat-window__time { color: #9e9e9e; }

.add-user__wright { width: 100%; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #c7c7c7; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white; height: 90px; resize: none; font-family: Tahoma, Arial, sans-serif; font-size: 13px; }

.add-user_mass .add-user__name { cursor: default; }
.add-user_mass .add-user__name:after { display: none; }

.add-user__list { margin: 7px 0 10px; font-size: 0; }
.add-user__list li { display: inline-block; vertical-align: middle; font-size: 14px; }
.add-user__list li .add-user__name { margin-right: 0; cursor: default; }
.add-user__list li .add-user__name:before { display: none; }
.add-user__list li:first-child .add-user__name:before { display: block; }

.add-user__remove { position: absolute; top: 1px; right: -7px; background: url('../img/icons-s40c8448531.png') 0 -398px no-repeat; width: 18px; height: 18px; cursor: pointer; }

.add-user__bottom { *zoom: 1; margin: 25px 0; }
.add-user__bottom:after { content: " "; display: table; clear: both; }
.add-user__bottom .popup__btns { text-align: right; }
.add-user__bottom a { display: inline-block; float: none; }
.add-user__bottom .btn { height: 30px; line-height: 30px; }

.request-popup { position: absolute; top: 235px; left: 50%; margin-left: -230px; width: 460px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #f4f4f4; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); }
.request-popup .help__title { font-size: 16px; font-weight: bold; }

.popup_user .add-user__name { cursor: default; }
.popup_user .add-user__name.online:after { content: "online"; position: absolute; top: 2px; right: -38px; width: 44px; height: 18px; font-size: 12px; color: white; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #2cb61a; text-align: center; }

.popup__rating { float: right; padding-top: 4px; }
.popup__rating .rating { position: relative; top: 0; width: auto; }
.popup__rating .rating li { cursor: pointer; }
.popup__rating .rating span, .popup__rating .rating ul { display: inline-block; vertical-align: middle; }
.popup__rating .rating ul { margin: 0px 20px 0 10px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.tools { *zoom: 1; margin-bottom: 30px; }
.tools:after { content: " "; display: table; clear: both; }
.tools .search, .tools .select, .tools .checkbox { margin-left: 45px; float: left; }
.tools .checkbox { margin-top: 4px; border: 1px solid #222222; }

.search { position: relative; font-size: 0; }
.search input, .search button { display: inline-block; vertical-align: middle; }
.search input { width: 154px; height: 30px; }
.search button { position: relative; height: 32px; width: 64px; margin-left: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #d17d07; }
.search button:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -8px; background: url('../img/icons-s40c8448531.png') 0 -225px no-repeat; width: 16px; height: 17px; }
.search button[type="reset"] { position: absolute; top: 6px; right: 32%; background: url('../img/icons-s40c8448531.png') 0 -398px no-repeat; width: 18px; height: 18px; }
.search button[type="reset"]:before { display: none; }

.select { position: relative; width: 103px; height: 30px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #6c6c6c; cursor: pointer; }

.select__text { position: relative; display: block; padding-left: 15px; height: 30px; line-height: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #f7f7f7; font-size: 12px; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; text-shadow: 0 1px 0 rgba(108, 108, 108, 0.3); }
.select__text:after { content: ""; position: absolute; right: 15px; top: 50%; margin-top: -4px; background: url('../img/icons-s40c8448531.png') 0 -887px no-repeat; width: 9px; height: 8px; }

.select__list { position: absolute; display: none; left: 0; right: 0; top: 100%; z-index: 100; border: 1px solid black; border-top: 0; background: white; }
.select__list li { padding: 5px 11px; cursor: pointer; line-height: 1; }
.select__list li:hover { background: #717791; color: white; }

.checkbox__label { float: left; white-space: nowrap; font-size: 12px; color: #eeeeee; padding-left: 8px; padding-top: 6px; }

.checkbox { width: 20px; height: 20px; border-radius: 4px; display: inline-block; border: 1px solid #cccccc; cursor: pointer; background: white; position: relative; overflow: hidden; }
.checkbox.checkbox_thead { border-color: #d09b52; }
.checkbox label { display: block; width: 20px; height: 20px; cursor: pointer; }
.checkbox input { display: none; }
.checkbox input:checked + i { position: absolute; top: 3px; left: 3px; background: url('../img/icons-s40c8448531.png') 0 0 no-repeat; width: 14px; height: 13px; }

.main { padding: 0 15px; }

.box { background: #6c6c6c; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; overflow: hidden; margin-bottom: 30px; }

.box__left { float: left; width: 188px; padding-top: 50px; }

.box__right { float: right; width: 782px; background: #e6e6e6; min-height: 528px; }

.box_chatting .box__right { background: #f7f7f7; }

.box__menu a { display: block; height: 30px; padding: 0 22px 0 28px; line-height: 30px; color: white; text-decoration: none; font-size: 14px; text-shadow: 0 1px 0 #595959; }
.box__menu a.is-active { background: #d97f00; background: #e78700; text-shadow: 0 1px 0 #b36900; }

.notif-wrap { *zoom: 1; height: 40px; line-height: 40px; }
.notif-wrap:after { content: " "; display: table; clear: both; }
.notif-wrap span { float: left; }
.notif-wrap span.notif { float: right; margin-top: 6px; }

.table { width: 100%; background: #ebebeb; }
.table thead { height: 48px; background: #f2bf78; color: #ac6e16; padding: 0 3px; }
.table th { height: 48px; border-left: 1px solid #d09b52; vertical-align: middle; }
.table th:first-child { border-left: none; width: 48px; }
.table th p { position: relative; display: inline-block; padding-right: 8px; padding-left: 5px; cursor: pointer; }
.table th p i { vertical-align: middle; display: inline-block; margin-left: 6px; background: url('../img/icons-s40c8448531.png') 0 -809px no-repeat; width: 8px; height: 8px; }
.table th p i.is-up { background: url('../img/icons-s40c8448531.png') 0 -709px no-repeat; width: 8px; height: 8px; position: relative; top: -2px; }
.table td { height: 40px; vertical-align: middle; border-left: 1px solid #d2d2d2; }
.table td a { display: block; text-decoration: none; color: #404040; font-size: 13px; }
.table td:first-child { border-left: none; text-align: center; width: 48px; padding: 0; }
.table td span.notif { margin-top: 10px; }
.table tbody { font-size: 13px; color: #404040; }
.table tbody tr.white { background: #f7f7f7; }
.table tbody td { padding: 0 9px; }
.table tbody td p.center { text-align: center; }

.table_new .checkbox_tbody i:before { left: -13px; }
.table_new .checkbox_tbody input:checked + i:after { left: -9px; }

.icon-letter { display: inline-block; background: url('../img/icons-s40c8448531.png') 0 -353px no-repeat; width: 21px; height: 14px; }

.icon-chat { display: inline-block; background: url('../img/icons-s40c8448531.png') 0 -727px no-repeat; width: 20px; height: 18px; }

.icon-chat-red { display: inline-block; background: url('../img/icons-s40c8448531.png') 0 -587px no-repeat; width: 31px; height: 18px; }

.icon-chat-green { display: inline-block; background: url('../img/icons-s40c8448531.png') 0 -755px no-repeat; width: 20px; height: 18px; }

.faq-wrap { padding: 20px 120px 100px; }
.faq-wrap .h2 { margin-bottom: 60px; }

.search_faq { margin-bottom: 75px; }
.search_faq input { width: 415px; }
.search_faq input:-ms-input-placeholder { font-size: 16px; }
.search_faq input:-moz-placeholder { font-size: 16px; }
.search_faq input::-moz-placeholder { font-size: 16px; }
.search_faq input::-webkit-input-placeholder { font-size: 16px; }
.search_faq input::placeholder { font-size: 16px; }
.search_faq button[type="submit"] { width: 75px; }
.search_faq button[type="reset"] { right: 43.5%; background: url('../img/icons-s40c8448531.png') 0 -398px no-repeat; width: 18px; height: 18px; }

.faq { *zoom: 1; }
.faq:after { content: " "; display: table; clear: both; }

.faq__left { float: left; width: 350px; }

.faq__right { float: right; width: 350px; }

.faq-list li { margin-bottom: 10px; }
.faq-list li a { font-size: 14px; color: #eeeeee; text-decoration: none; }
.faq-list li a:hover { color: #d17e08; }

.addcard { padding: 69px 0 170px; }

.article { font-size: 14px; color: #404040; }
.article p { margin-bottom: 20px; }

.mobile { position: relative; padding: 80px 30px; }

.mobile__text { position: absolute; top: 33%; left: 45%; }
.mobile__text .h3 { margin-bottom: 20px; }

.article__important { margin-bottom: 30px; padding: 14px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #d17e08; color: white; }

.intro__text { padding-top: 30px; margin-bottom: 85px; color: #eeeeee; font-size: 16px; }
.intro__text p { margin-bottom: 10px; }

.intro__img { text-align: center; margin-bottom: 95px; }

.wrpapper_grey { position: relative; background: url(../img/ptrn-grey.png); }
.wrpapper_grey:before { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(50%, #a9a9a9), color-stop(100%, #a9a9a9)); background-image: -webkit-radial-gradient(center center, 100% 100%, #ffffff 0%, #a9a9a9 50%, #a9a9a9 100%); background-image: -moz-radial-gradient(center center, 100% 100%, #ffffff 0%, #a9a9a9 50%, #a9a9a9 100%); background-image: -o-radial-gradient(center center, 100% 100%, #ffffff 0%, #a9a9a9 50%, #a9a9a9 100%); background-image: radial-gradient(center center, 100% 100%, #ffffff 0%, #a9a9a9 50%, #a9a9a9 100%); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; z-index: 0; }
.wrpapper_grey .container { position: relative; padding-top: 50px; z-index: 1; }

.video { position: relative; width: 623px; height: 414px; margin: 65px auto 0; background: url(../img/tv.png) 0 0 no-repeat; }

.video__container { position: absolute; top: 9px; left: 12px; width: 597px; height: 338px; overflow: hidden; }

.video__darkmask { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.4); z-index: 1; }

.video__lightmask { position: absolute; top: 0; bottom: 0; right: 0; width: 262px; background: rgba(255, 255, 255, 0.4); z-index: 2; }
.video__lightmask:before { content: ""; position: absolute; top: 0; left: -22px; -webkit-transform: rotate(360deg); width: 0px; height: 0px; border-style: solid; border-width: 0 0 338px 22px; border-color: transparent transparent rgba(255, 255, 255, 0.4) transparent; }

.video__play { position: absolute; top: 50%; left: 50%; margin: -44px 0 0 -44px; width: 88px; height: 88px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #d17e08; cursor: pointer; z-index: 9; }
.video__play:before { content: ""; position: absolute; top: 23px; left: 33px; background: url('../img/icons-s40c8448531.png') 0 -73px no-repeat; width: 32px; height: 42px; }

.theses { padding: 70px 0 48px; }

.theses__item { margin-bottom: 48px; }
.theses__item .h2 { margin-bottom: 30px; }

.theses__list { font-size: 18px; color: #404040; }
.theses__list li { position: relative; padding-left: 20px; margin-bottom: 3px; }
.theses__list li:before { content: ""; position: absolute; top: 9px; left: 0px; width: 8px; height: 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #e78a06; }

.chat { height: 30px; padding: 0 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #46b329; color: white; font-size: 13px; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; text-shadow: 0 1px 0 rgba(209, 125, 7, 0.5); cursor: pointer; }
.chat span, .chat i { display: inline-block; vertical-align: middle; font-style: normal; }
.chat span { margin: 0 2px; line-height: 30px; }

.chat__icon { background: url('../img/icons-s40c8448531.png') 0 -529px no-repeat; width: 20px; height: 19px; }

.chat__number { height: 18px; line-height: 18px; color: #46b329; text-align: center; padding: 0 9px; background: white; -webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px; text-shadow: none; }

.chatting__top { *zoom: 1; padding: 8px 9px; height: 32px; margin-bottom: 22px; border-bottom: 1px solid #c6c6c6; background: #d6d6d6; }
.chatting__top:after { content: " "; display: table; clear: both; }
.chatting__top .btn { float: left; }

.back, .ok { position: relative; float: left; width: 44px; margin-right: 17px; height: 30px; border: 1px solid #aaaaaa; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #b2b2b2; }
.back:before, .ok:before { content: ""; position: absolute; top: 8px; left: 11px; background: url('../img/icons-s40c8448531.png') 0 -454px no-repeat; width: 21px; height: 13px; }

.chatting__title { float: left; line-height: 32px; margin-left: 150px; color: #717171; font-size: 14px; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); }

.ok { float: right; margin-right: 0; }
.ok:before { left: 16px; background: url('../img/icons-s40c8448531.png') 0 -328px no-repeat; width: 13px; height: 15px; }

.ok_orange { background: #e78a07; border: 1px solid #e78a07; }

.chatting__message { padding: 0 22px; margin-bottom: 20px; }
.chatting__message textarea { display: block; width: 666px; max-width: 666px; height: 82px; padding: 10px; margin-bottom: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: transparent; border: 1px solid #b6b6b6; font-family: Tahoma, Arial, sans-serif; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.messages { margin-bottom: 7px; }
.messages .add-user__tools { margin: -1px 0 0; border: none; padding: 15px; background: #e2e2e2; }

.messages__topper { padding: 30px 20px 4px; *zoom: 1; border-bottom: 1px solid #d8d8d8; }
.messages__topper:after { content: " "; display: table; clear: both; }

.messages__username { float: left; cursor: pointer; }
.messages__username span { position: relative; color: #e78a06; font-weight: bold; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.messages__username span i { position: absolute; top: 4px; right: -14px; background: url('../img/icons-s40c8448531.png') 0 -869px no-repeat; width: 8px; height: 8px; }
.messages__username.is-open span i { background: url('../img/icons-s40c8448531.png') 0 -905px no-repeat; width: 8px; height: 8px; }

.techinfo { display: none; position: relative; float: left; height: 17px; margin-left: 90px; padding-left: 20px; color: #717171; font-size: 13px; }

.techinfo_phone:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s40c8448531.png') 0 -827px no-repeat; width: 9px; height: 17px; }

.techinfo_tv:before { content: ""; position: absolute; top: 2px; left: -6px; background: url('../img/icons-s40c8448531.png') 0 -956px no-repeat; width: 19px; height: 14px; }

.messages__info { position: relative; float: right; }
.messages__info span { margin-left: 10px; color: #717171; font-size: 12px; }

.messages__content { padding: 20px 100px 20px 20px; color: #404040; }
.messages__content p { margin-bottom: 15px; }

.messages_admin .messages__username span { color: #717171; }
.messages_admin .messages__username span:before { display: none; }

.rating { position: absolute; top: -30px; right: 0px; width: 115px; }
.rating ul { *zoom: 1; }
.rating ul:after { content: " "; display: table; clear: both; }
.rating ul li { float: left; margin-left: 5px; background: url('../img/icons-s40c8448531.png') 0 -300px no-repeat; width: 18px; height: 18px; }
.rating ul li:first-child { margin-left: 0; }
.rating ul li.is-active { background: url('../img/icons-s40c8448531.png') 0 -426px no-repeat; width: 19px; height: 18px; }

.rating_small { position: relative; top: 0; right: auto; width: 74px; padding: 0 8px; }
.rating_small ul li { margin-left: 2px; background: url('../img/icons-s40c8448531.png') 0 -615px no-repeat; width: 13px; height: 12px; }
.rating_small ul li.is-active { background: url('../img/icons-s40c8448531.png') 0 -687px no-repeat; width: 13px; height: 12px; }
