/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1000px; font-size: 12px; font-family: Tahoma, Arial, sans-serif; line-height: 1.4; background: url(../img/bg.png); }

.out { height: 100%; min-height: 100%; height: auto; margin-bottom: -173px; }

.push { height: 173px; }

.container { width: 1000px; margin: 0 auto; }

.header { height: 60px; background: #515151; margin-bottom: 55px; }

.header__inner { *zoom: 1; }
.header__inner:after { content: " "; display: table; clear: both; }

.logo { float: left; margin-top: 9px; }
.logo a { display: block; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s4b238a2178.png') 0 0 no-repeat; width: 152px; height: 40px; }

.profile { float: right; }
.profile a { position: relative; display: inline-block; padding-right: 23px; margin-top: 20px; font-size: 14px; color: #eeeeee; text-decoration: none; }
.profile a:before { content: ""; position: absolute; top: 6px; right: 7px; background: url('../img/icons-s4b238a2178.png') 0 -368px no-repeat; width: 9px; height: 8px; }

.menu { overflow: hidden; text-align: center; }
.menu ul { display: inline-block; margin-top: 16px; }
.menu ul li { display: inline-block; margin-left: 45px; }
.menu ul li:first-child { margin-left: 0; }
.menu ul li a { position: relative; font-size: 18px; color: white; font-weight: bold; text-decoration: none; -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; transition: color 0.2s linear; }
.menu ul li a:hover { color: #dd8405; }
.menu ul li a.is-active { color: #dd8405; }
.menu ul li a .notif { position: absolute; top: -7px; left: 100%; }

.notif { height: 18px; line-height: 18px; text-align: center; padding: 0 8px; -webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px; background: #d97f00; color: white; font-size: 12px; text-shadow: 0 1px 0 rgba(231, 138, 6, 0.7); }

.footer { height: 168px; border-top: 5px solid #d17e08; text-align: center; }
.footer span { font-size: 14px; color: white; font-weight: bold; line-height: 168px; }

.fl { float: left; }

.fr { float: right; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.help { position: absolute; top: 50%; right: -51px; height: 40px; padding-left: 55px; line-height: 40px; width: 87px; background: #d17d07; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; font-size: 16px; text-decoration: none; font-weight: bold; color: white; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); }
.help:before { content: ""; position: absolute; top: 13px; left: 10px; background: url('../img/icons-s4b238a2178.png') 0 -50px no-repeat; width: 25px; height: 13px; }
.help:after { content: ""; position: absolute; top: 0px; bottom: 0px; left: 43px; width: 1px; background: #ab6606; }

.pagination { *zoom: 1; margin-bottom: 66px; }
.pagination:after { content: " "; display: table; clear: both; }
.pagination .select { float: right; width: 47px; height: 28px; margin-left: 22px; }
.pagination .select span { padding-left: 9px; }
.pagination .select span:after { right: 8px; }

.pagination__nav { float: right; margin-left: 70px; }
.pagination__nav a { position: relative; display: inline-block; width: 47px; height: 28px; margin-left: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #515151; }
.pagination__nav a:first-child { margin-left: 0; }
.pagination__nav a.pagination__prev:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -4px; background: url('../img/icons-s4b238a2178.png') 0 -227px no-repeat; width: 8px; height: 16px; }
.pagination__nav a.pagination__prev.is-disabled { background: #3d3d3d; }
.pagination__nav a.pagination__prev.is-disabled:before { background: url('../img/icons-s4b238a2178.png') 0 -147px no-repeat; width: 8px; height: 16px; }
.pagination__nav a.pagination__next:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -4px; background: url('../img/icons-s4b238a2178.png') 0 -309px no-repeat; width: 8px; height: 16px; }
.pagination__nav a.pagination__next.is-disabled { background: #3d3d3d; }
.pagination__nav a.pagination__next.is-disabled:before { background: url('../img/icons-s4b238a2178.png') 0 -173px no-repeat; width: 8px; height: 16px; }

.pagination__pager { float: right; height: 28px; line-height: 28px; font-size: 12px; color: #eeeeee; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.tools { *zoom: 1; margin-bottom: 30px; }
.tools:after { content: " "; display: table; clear: both; }
.tools .search, .tools .select, .tools .checkbox { margin-left: 45px; float: left; }

.search { font-size: 0; }
.search input, .search button { display: inline-block; vertical-align: middle; }
.search input { width: 154px; height: 30px; padding: 0 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: white; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.27); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.27); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.27); }
.search button { position: relative; height: 30px; width: 64px; margin-left: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #d17d07; }
.search button:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -8px; background: url('../img/icons-s4b238a2178.png') 0 -73px no-repeat; width: 16px; height: 17px; }

.select { position: relative; width: 103px; height: 30px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #6c6c6c; cursor: pointer; }

.select__text { position: relative; display: block; padding-left: 15px; height: 30px; line-height: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #f7f7f7; font-size: 12px; font-weight: bold; text-shadow: 0 1px 0 rgba(108, 108, 108, 0.3); }
.select__text:after { content: ""; position: absolute; right: 15px; top: 50%; margin-top: -4px; background: url('../img/icons-s4b238a2178.png') 0 -368px no-repeat; width: 9px; height: 8px; }

.select__list { position: absolute; display: none; left: 0; right: 0; top: 100%; z-index: 100; border: 1px solid black; border-top: 0; background: white; }
.select__list li { padding: 5px 11px; cursor: pointer; line-height: 1; }
.select__list li:hover { background: #717791; color: white; }

.checkbox { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox label { display: block; line-height: 30px; }
.checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.checkbox span { position: relative; padding-left: 18px; font-size: 12px; color: #eeeeee; }
.checkbox i { position: relative; }
.checkbox i:before { content: ""; position: absolute; top: -1px; left: -16px; width: 20px; height: 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #f4f4f4; }
.checkbox input:checked + i:after { content: ""; position: absolute; top: 2px; left: -13px; background: url('../img/icons-s4b238a2178.png') 0 -124px no-repeat; width: 14px; height: 13px; }

.main { padding: 0 15px; }

.box { background: #6c6c6c; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; overflow: hidden; margin-bottom: 30px; }

.box__left { float: left; width: 188px; padding-top: 50px; }

.box__right { float: right; width: 782px; background: #e6e6e6; min-height: 528px; }

.box__menu a { display: block; height: 30px; padding: 0 22px 0 28px; line-height: 30px; color: white; text-decoration: none; font-size: 14px; text-shadow: 0 1px 0 #595959; }
.box__menu a:hover { background: #d97f00; text-shadow: 0 1px 0 #b36900; }
.box__menu a.is-active { background: #d97f00; text-shadow: 0 1px 0 #b36900; }

.notif-wrap { *zoom: 1; height: 40px; line-height: 40px; }
.notif-wrap:after { content: " "; display: table; clear: both; }
.notif-wrap p { float: left; }
.notif-wrap p.notif { float: right; margin-top: 6px; }

.table { width: 100%; }
.table thead { height: 48px; background: #f2bf78; color: #ac6e16; padding: 0 3px; }
.table th { height: 48px; line-height: 48px; border-left: 1px solid #d09b52; }
.table th:first-child { border-left: none; }
.table th p { position: relative; display: inline-block; padding-right: 13px; }
.table th p:before { content: ""; position: absolute; top: 20px; right: 0px; background: url('../img/icons-s4b238a2178.png') 0 -335px no-repeat; width: 8px; height: 8px; }
.table td { height: 40px; vertical-align: middle; border-left: 1px solid #d2d2d2; }
.table td:first-child { border-left: none; }
.table td p.notif { margin-top: 10px; }
.table tbody { font-size: 13px; color: #404040; }
.table tbody tr.white { background: #f7f7f7; }
.table tbody td { padding: 0 9px; }
.table tbody td p.center { text-align: center; }

.table_new .checkbox_tbody i:before { left: -13px; }
.table_new .checkbox_tbody input:checked + i:after { left: -9px; }

.checkbox_thead i:before { top: 0px; left: -17px; border: 1px solid #d09b52; }
.checkbox_thead input:checked + i:after { top: 4px; left: -13px; }

.checkbox_tbody i:before { top: -3px; left: -8px; border: 1px solid #cccccc; }
.checkbox_tbody input:checked + i:after { top: 1px; left: -4px; }

.icon-letter { display: inline-block; background: url('../img/icons-s4b238a2178.png') 0 -100px no-repeat; width: 21px; height: 14px; }

.icon-chat { display: inline-block; background: url('../img/icons-s4b238a2178.png') 0 -253px no-repeat; width: 20px; height: 18px; }

.icon-chat-red { display: inline-block; background: url('../img/icons-s4b238a2178.png') 0 -199px no-repeat; width: 31px; height: 18px; }

.icon-chat-green { display: inline-block; background: url('../img/icons-s4b238a2178.png') 0 -281px no-repeat; width: 20px; height: 18px; }
