// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 

//vars
$orange: #d17e08
 	
body
	min-width: 1000px
	font-size: 12px 
	font-family: Tahoma, Arial, sans-serif
	+font-smoothing 
	line-height: 1.4
	background: url(../img/bg.png) 

.out
	position: relative
	height: 100%
	min-height: 100%
	height: auto
	overflow: hidden
	margin-bottom: -173px 
.push
	height: 173px 

.divide
	height: 5px
	background: $orange  
.container
	width: 1000px 
	margin: 0 auto
.h2, .h3
	font-size: 20px
	font-weight: bold
	color: $orange
.h2_dark
	color: #323232
.h3
	font-size: 16px
	margin-bottom: 30px
.h3_light
	color: #e78a06	
.wrapper_white
	background: #fff
.btn
	height: 32px 
	padding: 0 18px 
	border: 1px solid #d47d04
	+border-radius(3px)
	background: #e78a09
	color: #fff
	font-weight: bold
	font-size: 12px
	+text-shadow(0 1px 0 #c96203)
.cancel
	display: inline-block
	background: transparent
	margin: 0 25px  

// header

.header
	height: 60px
	background: #515151
	margin-bottom: 55px
.header__inner
	+clr	
.logo
	float: left
	margin-top: 9px
	a
		display: block
		+hidetext
		+s(logo)
.profile
	float: right
	a
		position: relative
		display: inline-block 
		padding-right: 23px
		margin-top: 20px
		font-size: 14px
		color: #eee
		text-decoration: none
		&:before
			content: ""
			position: absolute
			top: 6px
			right: 7px
			+s(arr-down)
.profile_hidden
	+opacity(0)			
.menu
	overflow: hidden
	text-align: center
	ul
		display: inline-block
		margin-top: 16px
		li
			display: inline-block
			margin-left: 45px
			&:first-child
				margin-left: 0
			a
				position: relative
				font-size: 18px
				color: #eee
				font-weight: bold
				text-decoration: none
				+font-smoothing
				+transition(color .2s linear)
				&:hover
					color: $orange
				&.is-active
					color: #e78a06
				.notif
					position: absolute
					top: -7px
					left: 100%	
.notif
	height: 18px
	line-height: 17px
	text-align: center
	padding: 0 8px
	+border-radius(9px)
	background: #d97f00
	background: #e78700 
	color: #fff
	font-size: 12px
	+text-shadow(0 1px 0 #c96203)
	
// footer

.footer
	position: relative
	height: 173px
	text-align: center
	span
		font-size: 14px
		color: #fff
		font-weight: bold
		line-height: 168px
		+font-smoothing
		
// independent blocks

.fl
	float: left
.fr
	float: right
.clr
	+clr
.input, .textarea
	padding: 0 10px   
	+border-radius(2px)
	background: #fff
	font-size: 17px
	font-family: Tahoma, Arial, sans-serif
	border: 1px solid #cacaca
	+box-shadow(inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15))
.textarea
	padding: 10px
	resize: none 	
.help
	position: absolute
	top: 300px
	right: -461px
	@include border-radius(2px)
	+box-shadow(0 3px 10px rgba(0,0,0,.5))
	+transition(all 200ms linear)
	z-index: 99
	&.is-open
		right: 0
		.help__btn
			+box-shadow(0 3px 10px rgba(0,0,0,.5))
			&:before
				+s(help-close)	
.help__btn
	position: absolute
	top: 142px
	left: -40px
	height: 40px
	padding-left: 55px 
	line-height: 40px
	width: 87px
	background: #d17d07
	+border-radius(5px 5px 0 0)
	font-size: 16px
	text-decoration: none
	font-weight: bold 
	color: #fff
	-webkit-transform-origin: 0% 0%
	-moz-transform-origin: 0% 0%
	-o-transform-origin: 0% 0%
	-ms-transform-origin: 0% 0%
	transform-origin: 0% 0%
	-moz-transform: rotate(-90deg)
	-o-transform: rotate(-90deg)
	-webkit-transform: rotate(-90deg)
	transform: rotate(-90deg)
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616999114022e-16, M12=1, M21=-1, M22=3.061616999114022e-16, SizingMethod='auto expand')"
	cursor: pointer
	&:before
		content: ""
		position: absolute
		top: 13px
		left: 10px
		+s(help)
	&:after
		content: ""
		position: absolute
		top: 0px
		bottom: 0px
		left: 43px
		width: 1px
		background: #ab6606
	&:hover
		right: -40px
.lteie8
	.help__btn
		top: 0			
.help__content
	position: relative
	+border-radius(0 0 0 2px)
	background: #eee
	padding: 25px 22px 
	width: 414px
	height: 267px
.help__title
	font-size: 14px
	color: #404040
	margin-bottom: 28px
.help__row
	+clr
	margin-bottom: 8px
	color: #404040
.help__left
	float: left
	width: 87px
	padding-top: 7px 
.help__right
	float: right
	width: 327px
	.select
		width: 100%
		+box
		border: 1px solid #cacaca
		+border-radius(3px)
		background: #fff
		+box-shadow(inset 0 1px 2px rgba(0,0,0,.1))
		span
			font-size: 12px
			color: #a4a4a4
			+text-shadow(none)
			font-weight: normal
			&:after
				+s(arr-down-grey)
		.select__list
			border: 1px solid #cacaca			
	.input
		width: 100% 
		height: 30px
		+box
		font-size: 13px
	.textarea
		height: 80px 	 
		width: 100%
		+box
		font-size: 13px 
.help__bot
	+clr
	padding-top: 18px
.help__chat
	float: left	
	position: relative
	height: 30px
	line-height: 30px
	padding: 0 20px 0 42px
	color: #fff
	text-decoration: none
	font-weight: bold
	+border-radius(2px)
	+text-shadow(1px 0 1px #3f8515)  
	background: #46b329
	&:before
		content: ""
		position: absolute
		top: 6px
		left: 10px
		+s(chat)
.help__submit
	float: right
	height: 30px
	line-height: 30px
	padding: 0 20px
	+border-radius(2px)
	background: #e78a09
	+text-shadow(1px 0 1px #be5d03)
	color: #fff
	font-weight: bold   		  

// pagination

.pagination
	+clr
	margin-bottom: 66px
	.select
		float: right
		width: 47px
		height: 28px
		margin-left: 22px
		span
			padding-left: 9px
			&:after
				right: 8px  
.pagination__nav
	float: right
	margin-left: 70px
	a
		position: relative
		display: inline-block
		width: 47px
		height: 28px
		margin-left: 10px   
		+border-radius(2px)
		background: #515151
		&:first-child
			margin-left: 0	
		&.pagination__prev
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 50%
				margin: -8px 0 0 -4px 
				+s(arr-left)
			&.is-disabled
				background: #3d3d3d
				&:before
					+s(arr-left-grey)		
		&.pagination__next
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 50%
				margin: -8px 0 0 -4px 
				+s(arr-right)			
			&.is-disabled
				background: #3d3d3d
				&:before
					+s(arr-right-grey)
.pagination__pager
	float: right
	height: 28px
	line-height: 28px
	font-size: 12px
	color: #eee
	
// chat-popup
.popup
	position: absolute
	top: 213px
	left: 50%
	margin-left: -344px
	width: 688px
	+border-radius(3px)
	background: #f4f4f4
	+box-shadow(0 3px 10px rgba(0,0,0,.5))
.popup__content
	border: 1px solid #c7c7c7
	border-top: none
	padding: 24px 11px 11px
	+border-radius(3px 3px)
.popup__topper
	+clr
	padding-left: 10px	  
.popup__title 
	float: left
	color: #505050
	font-size: 16px
	font-weight: bold
.popup__btns
	float: right
a.back_text
	width: auto
	padding: 0 14px
	font-size: 12px
	color: #fff
	font-weight: bold
	line-height: 30px
	+text-shadow(0px 1px 1px #909090)
	text-decoration: none 
	&:before
		display: none
.popup__expand
	padding-left: 10px 		
.add-user__name
	position: relative
	display: inline-block
	vertical-align: middle
	margin-right: 100px
	padding: 0 18px 0 25px
	color: #505050
	font-size: 14px 
	cursor: pointer
	+nosel
	&:before
		content: ""
		position: absolute
		top: 2px
		left: 1px
		+s(user)
	&:after
		content: ""
		position: absolute
		top: 6px
		right: 0px
		+s(arr-down-orange-light)
	&.is-open
		&:after
			+s(arr-up-orange-light)
.add-user__time
	position: relative				
	display: inline-block
	vertical-align: middle
	padding-left: 20px 
	color: #505050
	font-size: 14px 		
	&:before
		content: ""
		position: absolute
		top: 2px
		left: 0px
		+s(clock)
.add-user__tools
	margin-top: 15px
	margin-left: -10px
	padding: 15px 15px 0   
	border-top: 1px solid #c8c8c8
	ul
		+clr
		margin-top: 20px
		&:first-child
			margin-top: 0 
	li
		float: left
		margin-right: 30px
		position: relative
		color: #505050
		font-size: 13px
		&.add-user__money
			padding-left: 15px
			&:before
				content: ""
				position: absolute
				top: 0px
				left: 0px
				+s(dollar)
		&.add-user__people
			padding-left: 23px
			&:before
				content: ""
				position: absolute
				top: 0px
				left: 0px
				+s(users)
		&.add-user__visa
			padding-left: 27px
			&:before
				content: ""
				position: absolute
				top: 2px
				left: 0px
				+s(visa)
		&.add-user__email
			padding-left: 25px
			&:before
				content: ""
				position: absolute
				top: 4px
				left: 0px
				+s(mail)
		&.add-user__mobile
			padding-left: 18px
			&:before
				content: ""
				position: absolute
				top: 0px
				left: 0px
				+s(mobile)
.chat-window-wrap
	height: 228px
	padding: 16px
	margin-top: 15px
	margin-bottom: 16px 
	border: 1px solid #c7c7c7
	+border-radius(3px)
	background: #fff
	overflow: auto
.chat-window__item
	color: #202020
	font-size: 13px
	margin-top: 15px
	&:first-child
		margin-top: 0
	&.admin
		.chat-window__usermane
			color: #e78a06	
.chat-window__topper
	+clr
.chat-window__usermane 
	float: left
.chat-window__time	
	float: right
.chat-window__usermane
	color: #717171
	font-weight: bold
.chat-window__time 
	color: #9e9e9e
.add-user__wright
	width: 100%
	padding: 10px 
	+box  
	border: 1px solid #c7c7c7
	+border-radius(3px)
	background: #fff
	height: 90px
	resize: none
	font-family: Tahoma, Arial, sans-serif
	font-size: 13px  
	
	
		








