// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
body
	min-width: 1000px
	font-size: 12px 
	font-family: Tahoma, Arial, sans-serif 
	line-height: 1.4
	background: url(../img/bg.png) 

.out
	height: 100%
	min-height: 100%
	height: auto
	margin-bottom: -173px 
.push
	height: 173px 

.container
	width: 1000px 
	margin: 0 auto
	 
// header

.header
	height: 60px
	background: #515151
	margin-bottom: 55px
.header__inner
	+clr	
.logo
	float: left
	margin-top: 9px
	a
		display: block
		+hidetext
		+s(logo)
.profile
	float: right
	a
		position: relative
		display: inline-block 
		padding-right: 23px
		margin-top: 20px
		font-size: 14px
		color: #eee
		text-decoration: none
		&:before
			content: ""
			position: absolute
			top: 6px
			right: 7px
			+s(arr-down)
.menu
	overflow: hidden
	text-align: center
	ul
		display: inline-block
		margin-top: 16px
		li
			display: inline-block
			margin-left: 45px
			&:first-child
				margin-left: 0
			a
				position: relative
				font-size: 18px
				color: #fff
				font-weight: bold
				text-decoration: none
				+transition(color .2s linear)
				&:hover
					color: #dd8405
				&.is-active
					color: #dd8405
.notif
	position: absolute
	top: -7px
	left: 100%
	height: 18px
	line-height: 18px
	text-align: center
	padding: 0 8px
	+border-radius(9px)
	background: #d97f00
	color: #fff
	font-size: 12px
	+text-shadow(0 1px 0 rgba(231,138,6,.7))
	
// footer
.footer
	height: 168px
	border-top: 5px solid #d17e08
	text-align: center
	span
		font-size: 14px
		color: #fff
		font-weight: bold
		line-height: 168px	

